.caption Таблица
.tools
    .search
        .wrapInput
            //
                input.input(data-search-val, placeholder='Поиск', value= search)
                .clean.glyphicon.glyphicon-remove(data-search-clean)
                button(data-search).btn.btn-sm.btn-info Поиск
    button.btn.btn-info.btn-sm.icon(data-create)
        .glyphicon.glyphicon-plus
        span Добавить
div(data-numbers-top)
div
    .container-flui(data-column)
    .container-fluid
        div(data-tableConteiner)
div(data-numbers-bottom)