-var activeClass = (active)? 'active': ''
.item(class=activeClass)
    each row in rows
        if (row.bold)
            strong(class='col-xs-' + row.size)= row.value
        else
            div(class='col-xs-' + row.size)= row.value
    .col-xs-2.buttons
        span(data-preview).btn.btn-sm.green.glyphicon.glyphicon-eye-open
        span(data-edit).btn.blue.btn-sm.glyphicon.glyphicon-pencil
        span(data-remove).btn.btn-sm.red.glyphicon.glyphicon-trash
    .clr