.editUser
    .title Редактор пользователя
    #form
    .buttons
        .container-fluid
            .row
                .col-xs-5
                    a.btn.btn-primary(data-close, href="/pjax/" + namespace + '/') Закрыть
                    button.btn.btn-success(data-save) Сохранить
                .col-xs-7.text-right
                    button.btn.btn-danger(data-delete) Удалить
        #moreControls