.itemFile.text-center
    .img
        .delete(data-deleteFile=true) x
        img(src='/content' + filename)
    .filename
        strong= filename
    .previewImg
        img(src='/content' + filename)