.row
    .col-md-8
        .form-horizontal
            .form-group
                label.col-sm-3.control-label= caption
                .col-sm-9
                    input.form-control(value= value, type="datetime-local", name= key)